@using ReportViewerForMvc;
@{
    ViewBag.Title = "GetReport";
    Layout = "~/Views/Shared/_Honoka.cshtml";
}

<h2>GetReport</h2>

@Html.ReportViewer(ViewBag.Report as Microsoft.Reporting.WebForms.ReportViewer, new { @width="100%", @height="100%" })