@using ReportViewerForMvc;
@{
    ViewBag.Title = "出席一覧表";
    Layout = "~/Views/Shared/_Honoka.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Report != null)
{
    @Html.ReportViewer(ViewBag.Report as Microsoft.Reporting.WebForms.ReportViewer, new { @width = "100%", @height = "100%" })
}
else
{
    using (Html.BeginForm("GetReportAttend", "Monthly", null, FormMethod.Get))
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.DropDownList("year", null, "年を選択してください", new { @onchange = "location.href = '/Monthly/GetReportAttend?Year='+this.value;" })
            </div>

            @if (ViewBag.month != null)
            {
                <div class="form-group">
                    @Html.DropDownList("month", null, "月を選択してください", new { })
                </div>

                <div class="form-group">
                    <input type="submit" value="月別出席一覧報告書作成" class="btn btn-default" />
                </div>
            }

        </div>
    }

}

