
@{
    ViewBag.Title = "月次報告書作成";
    Layout = "~/Views/Shared/_Honoka.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Print", "Monthly", null, FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.DropDownList("year", null, "年を選択してください", new { @onchange = "location.href = '/Monthly/?Year='+this.value;" })
        </div>

        @if (ViewBag.month != null)
        {
            <div class="form-group">
                @Html.DropDownList("month", null, "月を選択してください", new { })
            </div>

            <div class="form-group">
                <input type="submit" value="月別報告書作成" class="btn btn-default" />
            </div>
        }


    </div>
}

