
@{
    ViewBag.Title = "設定画面";
    Layout = "~/Areas/Settings/Views/Shared/_Settings.cshtml";
}

<h2>設定画面</h2>
<h3>各項目より、各種設定を行います。</h3>

<dl class="dl-horizontal">
    <dt>学校一覧</dt>
    <dd>学校の設定を行います。</dd>
    <dt>学校区分一覧</dt>
    <dd>学校区分（小学校、中学校等）の設定を行います。</dd>
    <dt>テスト区分一覧</dt>
    <dd>テスト区分（中間、期末等）の設定を行います。</dd>
    <dt>月出席一覧</dt>
    <dd>月当たりの必要出席数の設定を行います。</dd>
    <dt>教科一覧</dt>
    <dd>教科目（国語、英語等）の設定を行います。</dd>
    <dt>講師一覧</dt>
    <dd>ログインできる講師の設定を行います。</dd>
    @*<dt>性別一覧</dt>
    <dd>
        性別の設定を行うことが出来ます。<br />
        これはもしLGBT対応等の要望があった場合活用してください。
    </dd>*@
</dl>